
<div class="column">
  <ul class="items-grid no-bullet row">
    <% @items.each do |item| %>
      <li class="medium-3 medium-3 medium-3 column">
        <div class="item-card padly">
          <%= link_to item, class: "bread" do %>
            <%= image_tag item.bread %>
          <% end %>
          <div class="item-info ell glassy-bg padmy padlx">
            <div>
              <h3><%= item.title %></h3>
            </div>
            <p class="left price label item-label radius">
              <ul>
                <li><%= item.description %></li>
              </ul>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
