// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.items-grid {
  .item-card {
    width:300px;
    margin-left: 0px;
    padding: 50px;
    display: inline-block;
    .bread img {
      height: 150px;
      width:150px;
    }
    .item-info {
      .title { height: 4em; }
    }
  }
}

.itemsindex{
  padding-left: 175px;
  padding-top: 40px;
  padding-bottom: 40px;
}
